<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ユーザー登録完了 | 在庫管理アプリケーション</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div id=”wrapper”>
    <header class="pt-10 notLogin-header">
        <div class="header-left">
            <ul class="ul-left">
                <li>
                    <div class="apply-name">
                        <h1>Zaiko</h1>
                    </div>
                </li>
            </ul>
        </div>
        <div class="header-right">
            <ul class="ul-right">
                <li>
                    <!--                    <span class="boundary">|</span>-->
                    <!--                    <a href="../index.html" th:href="@{/}" class="a-link">トップページ</a>-->
                    <!--                    <span class="boundary">|</span>-->
                    <!--                </li>-->
                    <!--                <li>-->
                    <span class="boundary">|</span>
                    <a href="./login.html" th:href="@{/login}" class="a-link">ログイン</a>
                    <span class="boundary">|</span>
                </li>
            </ul>
<!--            <div class="mt-1 mb-3 login-account">-->
<!--                &lt;!&ndash;                <h>ログイン中：<span sec:authentication="principal.username"></span></h>&ndash;&gt;-->
<!--                <h>未ログイン</h>-->
<!--            </div>-->
        </div>
    </header>

    <div id="success-create-user">
        <h1>
            ユーザーの登録が完了しました！
            <br>
            　
            <br>
            画面右上の「ログイン」を押すと、ログイン画面に移動します。
        </h1>
    </div>
    <!--    <footer>-->
    <!--        <p class="copyright">-->
    <!--            COPYRIGHT © 2023 K. All rights Reserved.-->
    <!--        </p>-->
    <!--    </footer>-->
</div>
</body>
</html>