<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ユーザー登録完了 | 在庫管理アプリケーション</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div id=”wrapper”>
    <header class="pt-10 notLogin-header">
        <div class="header-left">
            <ul class="ul-left">
                <li>
                    <div class="apply-name">
                        <h1>Zaiko</h1>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <div id="success-create-user">
        <p>
            ユーザーの登録が完了しました！
            <br><br>
            下記の「ログインはこちら」をクリックし、
            <br>
            ログイン画面に移動してください。
            <br><br>
            <a href="./login.html" th:href="@{/login}">▶︎ ログインはこちら</a>
        </p>
    </div>
</div>
</body>
</html>