
@charset "UTF-8";

/*デフォルトマージンを除去*/
*{
    margin:0;
    /*padding: 0;*/
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#index-header {
    padding-top: 10px;
    padding-bottom: 20px;
    /*height: 83px;*/
}

.pt-10 {
    padding-top: 10px;
}

/*削除予定*/
#wrapper {
    width: 100%;
    min-height: 100%;
}

#login_container {
    padding-top: 170px;
    margin: 0 auto;
    width: 22em;
}

#index_photo {
    height: 100%;
    width: 100%;
}

#outer {
    margin-top: 250px;
}

#form-button {
    margin: 0 auto;
}

#button {
    width: 15em;
    height: 4em;
    font-size: 1.2em;
}

#button-center {
    text-align: center;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/*ーーーーーーーーーーーーーーーー
パスワードのinputタグ用
ーーーーーーーーーーーーーーーー*/
#eye {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#pw-form {
    position: relative;
}

.position-to-right {
    position: absolute;
    top: 41px;
    left: 300px;
}

/*ーーーーーーーーーーーーーーー*/

.error-text {
    color: red;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

li {
    list-style: none;
}

ul.display-inline {
    display: flex;
    justify-content:space-between;
    padding-left: 0;
}

.notLogin-header {
    padding-top: 0px;
    padding-bottom: 10px;
}

#success-create-user {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

#success-create-user h1 {
    margin-top: 160px;
    text-align: center;
}

.noZaikoMessage {
    display: flex;
	justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.noZaikoMessage h1 {
    margin-top: 180px;
    text-align: center;
}

.pagination {
    padding-top: 10px;
}

#user-list-container {
    margin: 0 auto;
    max-width: 1000px;
}

.pr-10 {
    padding-right: 30px;
}

th.pl-20 {
    padding-left: 20px;
}

#th-1, #th-2 {
    width: 2em;
}

#multi-delete-btn {
    margin: 0 25px 0 25px;
}

input[type=checkbox] {
	transform: scale(1.2);
	margin: 15px 15px 15px 50px;
}

#td-1 {
    width: 15em;
    padding: 17px 0 5px 0;
}

#td-2 {
    padding: 17px 0 0 0;
}

#td-3 {
    padding: 17px 0 0 0;
}

#td-4 {
    padding: 15px 0 0 0;
}

#td-5 {
    padding: 15px 0 0 0;
}

#checkmark {
    margin-bottom: 5px;
}

header {
    display: flex;
    background-color: #778899;
    /*layout.htmlの内容を反映している別のファイルとの差分回避*/
    padding-bottom: 10px;
}

.display-flex {
    display: flex;
}

.apply-name {
    color: gold;
    border-bottom: 1px solid gold;
}

.apply-name h1 {
    margin: 5px 0;
}

/*削除予定*/
.header-right {
    margin: 0 0 0 auto;
}

/*修正後*/
.header-nav {
    margin: 0 0 0 auto;
}

.a-link, .boundary {
    text-decoration: none;
    color: white;
}

.a-link:hover {
    color: white;
    /*background-color: gold;*/
    /*font-weight: bold;*/
    text-decoration-line: underline;
}

.login-account {
    color: gold;
    padding-right: 25px;
    padding-left: 280px;
}

.boundary {
    padding: 0 20px 0 20px;
}

/*削除予定*/
.ul-left {
    margin-top: 10px;
    padding-left: 25px;
}

/*修正後のclass属性*/
.header_contents {
    margin-top: 10px;
    padding-left: 25px;
}

/*削除予定*/
.ul-right {
    text-align: right;
    margin: 12px 0 0 0;
}

/*修正後*/
.header_nav_lists {
    text-align: right;
    margin: 12px 0 8px 0;
}

.ul-right li {
    display: inline;
}

main {
    width: 100%;
    height: 675px;
}

.image {
    max-width: 100%;
    height: 100%;
}

footer {
    display: table;
    height: 70px;
    width: 100%;
    color: white;
    background-color: #778899;
}

.copyright {
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    height: 70px;
}

#user-th-1,
#user-th-2 {
    padding-top: 20px;
}

#th-2 {
    padding-top: 10px;
}

.th-lateral-1,
.th-lateral-2,
.th-lateral-3,
.th-lateral-4 {
    border-right: 1px solid gray;
    width: 15em;
}

th.th-lateral-2,
th.th-lateral-3 {
    padding-left: 30px;
}

.th-lateral-4,
 #td-4,
 #td-5 {
    margin: 0 auto;
    text-align: center;
}

#td-3 {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

#td-1,
#td-2 {
    padding: 20px;
}

#td-4,
#td-5 {
    padding: 20px 0 20px 0;
}

/*ーーーーーーーーーーーーーーーーーーーーー
スマホ用ナビゲーションメニューの設定
ーーーーーーーーーーーーーーーーーーーーーー*/
#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;/*ナビの高さ*/
    /* background: #999; */
    /* background:rgba(13,77,124,0.8); */
    background:rgba(13,77,124,0.8);
    /*動き*/
    transition: all 0.6s;
　}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
　}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    font-size: 20px;
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
　}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
　}

/*リストのレイアウト設定*/
#g-nav li{
    list-style: none;
    text-align: center;
　}

#g-nav li a{
    /*color: #333;*/
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
　}

#g-nav li a:hover {
   text-decoration-line: underline;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1 {
    position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
    top: 20px;
    right: 10px;
    cursor: pointer;
    width: 60px;
    height: 60px;
　}

/*×に変化*/
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    /*background-color: #666;*/
    background-color: white;
    width: 55%;
  }

.openbtn1 span:nth-of-type(1) {
    /* ハンバーガーメニュー：1番目の線の高さ */
    top:15px;
　}

.openbtn1 span:nth-of-type(2) {
    /* ハンバーガーメニュー：2番目の線の高さ */
    top:27px;
　}

.openbtn1 span:nth-of-type(3) {
    /* ハンバーガーメニュー：3番目の線の高さ */
    top:39px;
　}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 55%;
　}

.openbtn1.active span:nth-of-type(2) {
    opacity: 0;
　}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 55%;
　}

.res-login-account {
    color: gold;
    padding: 10px;
  }

.openbtn1, #g-nav {
    display: none;
}

/*ーーーーーーーーーーーーーーーーーーーーー
スマホ対応（レスポンシブデザイン）
ーーーーーーーーーーーーーーーーーーーーーー*/
@media screen and (max-width: 630px) {

    .header-right {
        display: none;
    }

    .openbtn1, #g-nav {
        display: inline;
    }

    .ul-right {
        margin-top: 0px;
        padding-left: 0px;
    }

}
