<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ | 在庫管理アプリケーション</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header id="index-header">
    <div class="header_contents">
        <div class="apply-name">
            <h1>Zaiko</h1>
        </div>
    </div>
    <div class="header-right">
        <ul class="ul-right">
            <li sec:authorize="hasAuthority('ADMIN')">
                <span class="boundary">|</span>
                <a href="./users/list.html" th:href="@{/users}"
                   class="a-link">登録者一覧</a>
            </li>
            <li>
                <span class="boundary">|</span>
                <a href="./inventories/list.html" th:href="@{/inventories}" class="a-link">在庫一覧</a>
                <span class="boundary">|</span>
            </li>
            <li>
                <a href="./logout.html" th:href="@{/logout}" class="a-link">ログアウト</a>
                <span class="boundary">|</span>
            </li>
        </ul>
        <div class="mt-1 mb-3 login-account">
            <div>ログイン中：<span sec:authentication="principal.username"></span></div>
        </div>
    </div>
</header>

<!-- スマホ用（レスポンシブデザイン） -->
<div class="openbtn1"><span></span><span></span><span></span></div>
<nav id="g-nav">
    <div id="g-nav-list">
        <ul class="ul-right">
            <li>
                <div class="res-login-account">
                    <h3>ログイン中：<span sec:authentication="principal.username"></span></h3>
                </div>
            </li>
            <li sec:authorize="hasAuthority('ADMIN')" class="mt-3">
                <a href="./users/list.html" th:href="@{/users}"
                   class="res-a-link">登録者一覧</a>
            </li>
            <li class="mt-3">
                <a href="./inventories/list.html" th:href="@{/inventories}" class="res-a-link">在庫一覧</a>
            </li>
            <li class="mt-3">
                <a href="./logout.html" th:href="@{/logout}" class="res-a-link">ログアウト</a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <div class="image">
        <img th:src="@{../images/index_photo.jpeg}" alt="トップ画面に表示する写真候補" id="index_photo">
    </div>
</main>
<footer>
    <p class="copyright">
        COPYRIGHT © 2023 K. All rights Reserved.
    </p>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>