<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <meta charset=”utf-8″>
    <title>ログアウトページ</title>
</head>
<body>
<!--&lt;!&ndash;<h1 class="mt-3">在庫管理アプリケーション</h1>&ndash;&gt;-->
<div id="outer">
    <form action="#" th:action="@{/logout}" method="post" id="form-button">
        <div class="mt-3" id="button-center">
            <button type="submit" class="btn btn-primary" id="button">ログアウト</button>
        </div>
    </form>
    <div class="mt-3 center">
        <a href="../index.html" th:href="@{/}">▶︎ 戻る</a>
    </div>
</div>
</body>
</html>